extends ../layout/app

block contents

    div(class="py-5")
        h1(class="text-4xl my-10 font-extrabold text-center")= property.title

        div 
            a(href="#" class="font-bold text-gray-600 text-sm") tags: 
                span(class="font-normal")= property.tag.name 
        
        div(class="mt-5 md:flex md:gap-4")
            div(class="md:w-2/3") 
                img(src=`/uploads/${property.img}` alt=`Image of ${property.title}`)

                div(class="px-5 py-10 space-y-5")
                    p= property.description

                    h2(class="text-2xl leading-6 font-bold text-gray-900") Features

                    div(class="grid grid-cols-1 md:grid-cols-2 gap-4")
                        p(class="text-gray-800 block text-xs") WC 
                           span(class="font-bold text-gray-900")= property.wc

                        p(class="text-gray-800 block text-xs") BEDROOMS: 
                           span(class="font-bold text-gray-900")= property.bedrooms

                        p(class="text-gray-800 block text-xs") GARAGE: 
                           span(class="font-bold text-gray-900")= property.garage

                        p(class="text-gray-800 block text-xs") PRICE: 
                           span(class="font-bold text-gray-900")= property.price.name

            div(class="md:w-1/3")
                h3(class="text-center py-10 leaading-6 text-2xl font-bold text-gray-900") Ubication 

                div(class="h-96" id="map")
                    p(id="lat" class="hidden")= property.lat
                    p(id="lng" class="hidden")= property.lng
                
                div(class="p-5")
                    p(class="text-gray-600") Address:
                        span(class="text-gray-800 block text-lg")= property.calle
        